#java
*.class

#general
*~
*.lock
*.DS_Store
*.log

#idea
.idea
.idea/*
*.iml
*.ipr
*.iws
*.svn:

#Eclipse

*.classpath
*.settings
*.project
*.cproject

#maven
target

# OS Stuff
*.swp
.DS_Store

#Autoconf
*.in
configure
*.log
build/*
config/*
autom4te.cache/*
aclocal.m4
config.h

