#java
*.class

#general
*~
*.lock
*.DS_Store
*.log

#idea
.idea
.idea/*
*.iml
*.ipr
*.iws
*.svn:

#Eclipse

*.classpath
*.settings
*.project
*.cproject
.metadata/*

#maven
target

# OS Stuff
*.swp
.DS_Store


